.center{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}
#buttons{
    margin: 0 auto;
    width: 100%;
    display:flex;
    justify-content: center;
}

